.header {
  background: var(--gray-700);
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header div {
  display: flex;
  gap: 1rem;
  margin-top: 72px;
}

.header div h1 {
  color: var(--blue-300);
  font-size: 2.5rem;
  font-weight: 900;
}

.header div h1 span {
  color: var(--purple-300);
}

.header form {
  display: flex;
  gap: 1rem;
  margin-top: 53px;
  width: 100%;
  max-width: 780px;
  padding: 0 1rem;
}

.header form input {
  background-color: var(--gray-500);
  color: var(--gray-100);
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
  border: 0;
}

.header form input::placeholder {
  color: var(--gray-300);
}

.header form input:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-600);
}
.header form button {
  color: var(--gray-100);
  font-size: 0.875rem;
  background-color: var(--blue-600);
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
