.container {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 5.5rem 1rem;
}

.container header {
  padding-bottom: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.container header strong {
  display: flex;
  gap: 8px;
}

.container header strong:first-child {
  color: var(--blue-300);
}

.container header strong:last-child {
  color: var(--purple-300);
}

.container header strong span {
  padding: 2px 10px;
  background-color: var(--gray-400);
  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.75rem;
  border-radius: 999px;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #333333;
}

.container > div > img {
  padding: 3rem 0 1rem;
}

.container ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style-type: none;
}

.container ul li {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
}

.container ul li p {
  font-size: 0.875rem;
  flex: 1;
  word-wrap: break-word;
  line-height: 1.25rem;
}

.container .title {
  color: var(--gray-100);
}
.container .titleComplete {
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.container ul li button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.footer {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  padding-bottom: 1.5rem;
}

.footer a {
  color: var(--purple-300);
}
